* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

/* Ant design image uploader */
.apdImgSize .ant-upload-list-item-container,
.ant-upload-list-item ant-upload-list-item-uploading {
  width: 140px !important;
  height: 200px !important;
  display: flex !important;
  justify-content: center !important;
}

.apdImgSize .ant-upload-list-item,
.ant-upload-list-item-uploading {
  width: 140px !important;
  height: 200px !important;
  display: flex !important;
  justify-content: center !important;
}
@media screen and (max-width: 912px) {
  .apdImgSize .ant-upload-list,
  .ant-upload-list-picture-card {
    display: flex;
    justify-content: space-evenly;
  }
}
.apdImgSize .ant-upload-list-item-image {
  object-fit: cover !important;
}

.apdImgSize .ant-upload,
.ant-upload-select {
  width: 140px !important;
  height: 200px !important;
  padding: 0 5px;
  text-align: center;
}

.apdImgSize .ant-upload {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* Ant design table layout */

.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td,
.ant-table-wrapper tfoot > tr > th,
.ant-table-wrapper tfoot > tr > td {
  padding: 12px;
}

.customTable_Card .ant-table-cell {
  padding: 5px 0 !important;
  cursor: pointer;
}

.customTable table,
.customTable_Card table {
  background-color: white;
  border-radius: 12px !important;
}

.customTable thead > tr,
.customTable_Card thead > tr {
  border-width: 2px;
  border-radius: 12px;
  border-color: transparent;
  border-style: solid;
}
.customTable .ant-table-tbody > tr.ant-table-row-level-0:hover > td,
.customTable_Card .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  background-color: #edf1f5 !important;
}

.customTable_Card thead {
  display: none;
}

.customTable tbody:before {
  content: "@";
  display: block;
  line-height: 20px;
  text-indent: -99999px;
}

.customTable td,
.customTable_Card td {
  border-bottom: none !important;
}
.customTable td:first-child,
.customTable_Card td:first-child {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.customTable td:last-child,
.customTable_Card td:last-child {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.customTable thead th {
  position: relative;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  text-align: start;
  background-color: #f6f8fbcc !important;
  border: none !important;
}
.customTable thead th:first-child {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.customTable thead th:last-child {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.customTable table tr:nth-child(odd) {
  background-color: #f6f8fbcc;
}

.customTable table tr:nth-child(even) {
  background-color: white;
}

.ant-badge {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  display: inline-block;
  width: fit-content;
}
