.msic-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.msic-desc {
  font-size: 14px;
  color: #696969;
  margin: 10px 0;
}

.miscfilter-container {
  margin: 30px 0;
}
.MyWishList {
  margin: 30px 0;
}
