.home-p a {
  text-decoration: none;
  font-size: 14px;
  color: #222;
  margin: 0px 10px;
}

.home-p a:hover {
  color: #cf9683;
}

.CategoryPagination {
  display: flex;
  padding: 10px 60px;
  background-color: #f6f6f8;
}

.title-p {
  font-size: 14px;
  color: #222;
  margin: 2px 0;
  text-wrap: nowrap;
}
