.trending-text {
  text-align: center;
  margin: 30px;
}

.trending {
  font-weight: bold;
  font-size: 24px;
}

.t-text {
  font-family: "Libre Baskerville" !important;
  font-weight: 300;
  font-style: italic;
}
