@import "../../GlobalStyle/style.scss";
.cardTitle {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: $Heading;
  margin: 0;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
