.top-bar {
  background-color: #222222;
  color: #fff;
  font-size: 12px;
  padding: 10px 7%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contect-details {
  display: flex;
}

.phone {
  margin-right: 10px;
}
.icon {
  font-size: 14px;
  vertical-align: sub;
  padding: 0 6px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: none;
  color: #cf9683;
  transition: all ease-in 0.3s;
}

.red {
  color: red;
}

.top-bar-dropdown {
  display: flex;
}

.language-selection,
.currency-selection {
  margin-right: 10px;
}
.language,
.currency {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 12px;
}

.language-option,
.currency-option {
  color: #696969;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .top-bar-dropdown {
    display: none;
  }
}

@media (min-width: 1200px) {
  .top-bar {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 586px) {
  .top-bar {
    display: flex;
    justify-content: center;
  }
  .contect-details {
    margin-bottom: 20px;
  }
}
