.paynow-con {
  display: flex;
  justify-content: space-between;
}
.pay-button {
  padding: 10px 24px;
  border-radius: 20px;
  border: none;
  background-color: #cf9683;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: -webkit-fill-available;
  margin: 10px 0;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #000000;
  color: white;
}
.total-price {
  color: #000000;
}
