.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.box-btn {
  padding: 10px 40px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #cf9683;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
}

.box-btn:hover {
  background-color: black;
}

.box {
  padding: 10px;
  max-height: auto;
  width: auto;
  margin: 10px;
  background-color: antiquewhite;
  box-shadow: rgba(111, 108, 100, 0.2) 0px 7px 29px 0px;

  border-radius: 5px;
}
.box-heading {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
}
.sub-box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.sub-box {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}

.sub-box-heading {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.sub-box-2 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}

@media screen and (max-width: 400px) {
  .sub-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
