$Main: #2275fc;
$White: #fff;
$Black: #111;
$Heading: #111;
$Body-Text: #575864;
$Style: #ff5200;
$Palette-Green-500: #22c55e;
$Palette-Blue-Gray-300: #cbd5e1;
$Palette-Blue-Gray-200: #e2e8f0;
$Palette-Blue-300: #93c5fd;
$Palette-Blue-200: #bfdbfe;
$Palette-Orange-400: #fb923c;
$Palette-Red-400: #f87171;
$Palette-Red-500: #ef4444;
$Input: #ecf0f4;
$Icon: #cbd5e1;
$Note: #95989d;
$Text-Holder: #858b93;
$Stroke: #ecf0f4;
$bg-table: #f6f8fbcc;
$bg-table-1: #f7fafc;
$backdrop: #f2f7fb;
$hv-item: #edf1f5;
