.publish-content {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: fit-content;
  box-shadow: rgba(111, 108, 100, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.center {
  display: flex;
  justify-content: center;
}
