.upProfileField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 15px 10px;
}
.upTitle {
  font-weight: bold;
  width: 50%;
}
.upTitle {
  font-weight: bold;
  width: 50%;
}

.upInput {
  outline: 1px solid #555;
  border-radius: 20px;
  border: none;
  padding: 10px 0;
  text-align: start;
  max-width: 300px;
  width: -webkit-fill-available;
  padding-left: 10px;
}
.upActionButton {
  display: flex;
  justify-content: flex-end;
}
.upUpdate {
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  background-color: #cf9683;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  &:hover {
    background-color: black;
    color: white;
  }
}
