.register-bg {
  background-color: grey;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/src/assets/breadscrumb.jpg");
  object-fit: contain;
}
.register-bg {
  font-size: 22px;
  color: white;
}
