.Recipt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

#success {
  max-width: 500px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 5px;
  border-radius: 10px;
}
#details-box {
  margin: 5px;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  border-radius: 10px;
}
#sub-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  flex-wrap: wrap;
  border-right: 1px solid transparent;
}
#sub-box:first-child {
  border-right-color: lightgrey;
  margin-right: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.c-email {
  font-weight: bold;
  font-style: italic;
}

.box-heading {
  background-color: #cf9683;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.subbox-heading {
  background-color: #cf9683;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 90%;
  text-align: left;
  margin-bottom: 10px;
}
.r-detail-sec {
  display: flex;
  padding: 5px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: baseline;
}

.r-label {
  font-weight: bold;
}
.r-details {
  width: fit-content;
}
.shop-more {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.order-id {
  background-color: rgb(255 64 0 / 65%);
  border-radius: 2px;
  color: white;
  font-size: 10px;
  padding: 2px;
}
.r-body-text {
  margin: 10px;
}
