@import "../../GlobalStyle/style.scss";

.sidebar {
  position: relative;
  width: 280px;
  min-width: 280px;
  left: 0;
  overflow-y: auto;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 0 24px 2px rgba(20, 25, 38, 0.05);
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebarCloseIcon {
  font-size: 26px;
  color: $Icon;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  &:hover {
    color: $Main;
  }
}

.sidebarHeaderContainer {
  border-bottom: 1px solid $backdrop;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;
}

.sidebarHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.sidebarMainMenu {
  width: -webkit-fill-available;
  padding: 5%;
}
.sidebarMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-left: 10px;
  color: $Heading;
  &:hover {
    color: $Main;
  }
}

.sidebarMenuActive {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 0.3s ease;
  border-radius: 10px;
  background-color: $Palette-Blue-200;
  color: $Main;
  margin-left: 10px;
  &:hover {
    color: $Main;
  }
  &::before {
    position: absolute;
    content: "";
    left: -24px;
    width: 8px;
    height: 34px;
    background-color: $Main;
    border-radius: 8px;
    top: 7px;
  }
}
.sidebarMenuItem {
  display: flex;
  align-items: center;
}
.sidebarMenuIcon {
  margin-right: 10px;
  font-size: 20px;
}
.arrowIcon {
  margin-left: 10px;
}
.sidebarSubMenu {
  margin-left: 20px;
  padding: 5px 0 5px 40px;
  font-size: 14px;
  color: $Body-Text;
  transition: 0.3s all ease;
}
.sidebarSubMenuList {
  list-style-type: circle;
  cursor: pointer;
  margin: 5px 0;

  &:hover {
    color: $Main;
  }
}
.sidebarMenuLabel {
  color: $Text-Holder;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  padding: 10px 0;
}
