@import "../../GlobalStyle/style.scss";

.sidebar {
  position: fixed;
  width: 280px;
  min-width: 280px;
  left: 0;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 0 24px 2px rgba(20, 25, 38, 0.05);
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: auto;
  height: 100vh;
}

.sidebarCloseIcon {
  font-size: 26px;
  color: $Icon;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  &:hover {
    color: $Main;
  }
}

.sidebarHeaderContainer {
  border-bottom: 1px solid $backdrop;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;
}

.sidebarHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  gap: 12%;
}
.sidebarMainMenu {
  width: -webkit-fill-available;
  padding: 5%;
}
.sidebarMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-left: 10px;
  color: $Heading;
  &:hover {
    color: $Main;
  }
}

.sidebarMenuActive {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 0.3s ease;
  border-radius: 10px;
  background-color: $Palette-Blue-200;
  color: $Main;
  margin-left: 10px;
  &:hover {
    color: $Main;
  }
  &::before {
    position: absolute;
    content: "";
    left: -26px;
    width: 8px;
    height: 34px;
    background-color: $Main;
    border-radius: 8px;
    top: 7px;
  }
}
.sidebarMenuItem {
  display: flex;
  align-items: center;
}
.sidebarMenuIcon {
  margin-right: 10px;
  font-size: 20px;
}
.arrowIcon {
  margin-left: 10px;
}
.sidebarSubMenu {
  margin-left: 15px;
  padding: 5px 0 5px 40px;
  font-size: 14px;
  color: $Body-Text;
  transition: 0.3s all ease;
}
.sidebarSubMenuList {
  list-style-type: circle;
  cursor: pointer;
  margin: 5px 0;

  &:hover {
    color: $Main;
  }
}
.sidebarMenuLabel {
  color: $Text-Holder;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  padding: 10px 0;
}
.SidebarLink {
  text-decoration: none;
  color: $Black;
  &:hover {
    color: $Main;
  }
  &:active {
    color: $Main;
  }
}
.SidebarLinkActive {
  text-decoration: none;
  color: $Main;
}
.sidebarContact {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}
.sidebarContactHeading {
  font-size: 18px;
  line-height: 25px;
  color: black;
  text-align: center;
}
.sidebarContactContent {
  color: #575864;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 8px;
  text-align: center;
}
.sidebarButton {
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  height: 50px;
  padding: 15px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border: 1px solid $Main;
  border-radius: 12px;
  background-color: $Main;
  background-size: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 10px 0;
  &:hover {
    background-color: white !important;
    color: $Main !important;
  }
}
.sidebarSocial {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.sidebarSocialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(148, 163, 184, 0.102);
  font-size: 18px;
  color: #bcc6d1;
  cursor: pointer;

  &:hover {
    color: $Main;
  }
}
@media screen and (max-width: 612px) {
  .sidebar {
    width: 260px;
    min-width: 260px;
  }
}
