@import "../../Dashboard/GlobalStyle/style.scss";

.cardBG {
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;
}

.cardTitle {
  padding-bottom: 10px;
  margin-left: 10px;
  font-size: 22px;
  line-height: 37px;
  color: black;
  font-weight: bold;
  display: contents;
}

.aoNote {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $Body-Text;
  min-width: 18px;
  min-height: 18px;
  text-wrap: wrap;
}

.aoICON {
  font-size: 18px;
  color: #cf9683;
  flex-shrink: 0;
  min-width: 18px;
  min-height: 18px;
}
.aoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.apContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}
.apInputBox {
  background-color: white;
  outline: 0;
  box-shadow: none;
  width: 100%;
  padding: 14px 22px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid $Input;
  border-radius: 12px;
  color: $Heading;
  overflow: hidden;
  margin-bottom: 0;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}
.apInput {
  outline: none;
  border: none;
  width: 100%;
}
.apInputIcon {
  vertical-align: middle;
  font-size: 22px;
  color: $Black;
  font-weight: bold;
  &:hover {
    color: $Main;
    cursor: pointer;
  }
}
.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  margin-bottom: 30px;
  padding: 0 15px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  min-width: 100px;
  text-transform: capitalize;
  list-style: none;
}

.aoTitle {
  display: inline-block;
  width: max-content;
  min-width: 120px;
  font-weight: bold;
}
