@import "../../GlobalStyle/style.scss";

.UserAccount {
  display: flex;
  cursor: pointer;
  position: relative;
  text-wrap: nowrap;
}
.adminPicture {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}
.adminDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}
.adminUsername {
  font-weight: bold;
  color: $Heading;
  font-size: 14px;
  cursor: pointer;
}

.adminRole {
  font-size: 12px;
  font-weight: normal;
  color: $Note;
  line-height: 15px;
  cursor: pointer;
}
.alignAdmin {
  display: flex;
  justify-content: space-between;
}
.userAccountMenu {
  position: absolute;
  color: black;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  top: 55px;
  right: -10px;
  padding: 10px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    color: $Body-Text;
    margin-right: 40px;
    .UserAccountMenuIcon {
      font-size: 24px;
      color: $Icon;
    }
    &:hover {
      color: $Main;
      .UserAccountMenuIcon {
        color: $Main;
      }
    }
  }
}

@media screen and (max-width: 612px) {
  .alignAdmin {
    margin-right: 0px;
  }
}
